
@mixin input($txt_bg_clr, $darken_on_active) {
  background-color: $txt_bg_clr;
  &:hover {
    background-color: lighten($txt_bg_clr, 10%);
  }

  &:active {
    @if $darken_on_active{
      background-color: darken($txt_bg_clr, 5%);
    }
  }
}

@mixin content($max_width) {
  grid-area: content;
  max-width: $max_width;
  justify-self: center;
  width: 100%;
}