@import "mixins";

.add_repo_box {
  width: 95%;
  max-width: 600px;
  margin: auto;
}

.repo_list_content {
  @include content(900px);
  .line {
    width: 100%;
    display: flex;
    .btn.repo_name {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      background-color: #00796b;
      width: 100%;
      text-align: left;
      &:hover {
        background-color: #009688;
      }
    }
    .btn.delete {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      background-color: #d32f2f;
      &:hover {
        background-color: #f44336;
      }
    }
    .btn.edit {
      border-radius: 0;
      background-color: #f57c00;
      &:hover {
        background-color: #ff9800;
      }
    }
  }
}

.edit_account {
  grid-area: lHeader;
  justify-self: right;
  align-self: center;
}

.edge_btn {
  flex: 0 0 auto;
}

.add_repo_box {
grid-area: addbox;
  align-self: end;
  justify-self: center;
  border: solid white 1px;
  border-radius: 2px;
  padding: 15px;

  h4 {
    font-size: 18pt;
    margin-top: 10px;
    margin-bottom: 30px;
  }
}