@import "mixins";

.add_repo_box {
  width: 95%;
  max-width: 600px;
  margin: auto;
}

.list_content {
  @include content(900px);
  .line {
    width: 100%;
    display: flex;
    .btn.repo_name {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      background-color: #00796b;
      width: 100%;
      text-align: left;
      &:hover {
        background-color: #009688;
      }
    }
    .btn.delete {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
    .btn.preview {
      &.no_radius {
        border-radius: 0;
      }
      background-color: #303f9f;
      &:hover {
        background-color: #3f51b5;
      }
    }
    .btn.full_width {
      flex: 1 0 auto;

    }
    .btn.edit {
      &.no_radius {
        border-radius: 0;
      }
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;

      background-color: #f57c00;
      &:hover {
        background-color: #ff9800;
      }
    }
  }
}

.btn.delete {
  background-color: #d32f2f;
  &:hover {
    background-color: #f44336;
  }
}
.line {
  width: 100%;
  display: flex;
  align-items: center;
  div {
    flex: 1 1 auto;
  }
}

.first_part + .select-wrapper {
  width: 120px;
  flex: none;
  > input, > ul span {
    font-size: 11pt !important;
  }
}
i::selection, label::selection {
  background-color: transparent;
}
.collection, .modal {
  overflow: visible !important;
}

#new_service_box .line {
  input {
    transform: translateY(4px);
  }
}

#env_name_template {
  display: none;
}

.select-wrapper .caret {
  fill: white !important;
}

.tabs {
  grid-area: tabs;
  justify-self: center;
  max-width: 900px;
  display: flex;
  .tab {
    flex: 1 0 0;
    transition: background-color 0.2s linear;
  }

  .tab:hover {
    background-color: #090909;
  }

  border-radius: 2px;
}

.center {
  margin: auto;
}

.edit_account {
  grid-area: lHeader;
  justify-self: right;
  align-self: center;
}

.edge_btn {
  flex: 0 0 auto;
}

.add_repo_box {
grid-area: addbox;
  align-self: end;
  justify-self: center;
  border: solid white 1px;
  border-radius: 2px;
  padding: 15px;

  h4 {
    font-size: 18pt;
    margin-top: 10px;
    margin-bottom: 30px;
  }
}