@import "mixins";

body {
    background-color: black;
    color: white;
    font-family: Electrolize, sans-serif;
    margin: 0;
    height: 100vh;

  display: grid;
  grid-template-columns: 5% 1fr 3fr 1fr 5%;
  grid-template-rows: 17.5% max-content max-content auto min-content 150px;
  grid-template-areas:  ". lHeader header rHeader ."
                        ". tabs tabs tabs ."
                        ". content content content ."
                        ". . . . ."
                        ". . addbox . ."
                        "footer footer footer footer footer";
}

input {
  font-family: Electrolize, sans-serif;
  color: white;
}
label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &.active {
    cursor: default !important;
  }
}

.heading {
  grid-area: header;
  text-align: center;
  margin: 0;
  padding: 0;
  align-self: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.logout {
  grid-area: rHeader;
  align-self: center;
}

.modal {
  max-width: 1000px;
}

.footer {
  height: 100%;
  grid-area: footer;
}


.progress {
  margin: 15px 0;

}

.invisible {
  display: none !important;
}

.back_btn {
  grid-area: lHeader;
  justify-self: right;
  align-self: center;
}

.modal-content {
  h4 {
    font-size: 18pt;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  &.error {
    background-color: #b71c1c;
  }
  &.success {
    background-color: #1b5e20;
  }

  .input-field, .select-dropdown {
    //margin-top: 0;
    margin-bottom: 0 !important;
  }
}
.btn {
  //overflow: visible;
  white-space: nowrap;
}

.footer .data_use {
  margin: auto;
  text-align: center;
  width: 75%;
}
