<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link href="https://fonts.googleapis.com/css?family=Electrolize" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/login.css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>

<div class="heading">
    <a href="/"><h2>Restic Restorer</h2></a>
    <h4>Login</h4>
</div>

<div id="login_panel">
    <form action="/login" method="post" accept-charset="utf-8" class="center">
        <div class="line">
            <div class="input-field">
                <input type="text" name="username" id="username" required>
                <label for="username">Username</label>
            </div>
            <div class="input-field">
                <input type="password" name="password" id="password" required>
                <label for="password">Password</label>
            </div>
        </div>
        <div class="line">
            <div class="input-field">
                <input type="text" name="two_factor_auth" id="two_factor_auth" placeholder="No 2FA" maxlength="6" minlength="6" pattern="\d*">
                <label for="password">2FA Key</label>
            </div>
        </div>
        <button class="waves-effect waves-dark btn green darken-2 text-white" type="submit">Login
            <i class="material-icons right">keyboard_arrow_right</i></button>

        <a href="/register">
            <button type="button" class="waves-effect waves-dark btn red darken-2 text-white" style="margin-top: 10px;">
                Register
            </button>
        </a>
    </form>
</div>

{{#if flash}}
    <div class="message_popup {{status}}">
        {{{flash}}}
    </div>
{{/if}}
<script>
    function setInputFilter(textbox, inputFilter) {
        ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function (event) {
            textbox.addEventListener(event, function () {
                if (inputFilter(this.value)) {
                    this.oldValue = this.value;
                    this.oldSelectionStart = this.selectionStart;
                    this.oldSelectionEnd = this.selectionEnd;
                } else if (this.hasOwnProperty("oldValue")) {
                    this.value = this.oldValue;
                    this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                }
            });
        });
    }

    setInputFilter(document.getElementById("two_factor_auth"), function (value) {
        return /^\d*$/.test(value);
    });
</script>
</body>

</html>